<div class="project-container">
    <div class="media-container">
        <div class="media-content-container">
            @if (!string.IsNullOrEmpty(_currentMediaContent.Item2))
            {
                @GetContentToDisplay(_currentMediaContent)
            }
        </div>
        <div class="thumbnails-scroller">
            @if (Project.MediaContentDirectories != null)
            {                
                @foreach (int i in Enumerable.Range(0, _mediaContent.Count))
                {
                    var contentSrc = _mediaContent[i].Item2;
                    <div class="thumbnail @(currentMediaIndex==i?"active":"")" @onclick="()=>SelectContent(i)">

                        @switch (_mediaContent[i].Item1)
                        {                            
                            case MediaContentType.Image:
                                <img src="@contentSrc" />
                                break;
                            case MediaContentType.ShortVideo:
                            case MediaContentType.Video:
                                <video src="@contentSrc"
                                preload="metadata"
                                muted
                                playsinline
                                onloadeddata="this.pause();"></video>
                                <i class="far fa-play-circle"
                                style="
                                   position: absolute;
                                   font-size: 2em;
                                   color: white;
                                   z-index: 10;">
                                </i>
                                break;
                            case MediaContentType.WebVideo:
                                @if (contentSrc.ToLower().Contains("youtube"))
                                {
                                    <img src="images/icons/youtubelogo.png" style="width:30px;height:30px;position:absolute;top:25%;left:35%;"/>
                                }
                                else
                                {
                                    <i class="far fa-play-circle"
                                       style="
                                   position: absolute;
                                   font-size: 2em;
                                   color: white;
                                   z-index: 10;">
                                    </i>
                                }                                
                                break;
                        }                        
                    </div>
                }
            }
        </div>
    </div>
    <div class="description">
        <h3 style="text-align:left">@Project.Title</h3>
        @if (Project.Keywords != null && Project.Keywords.Count > 0)
        {
            <div class="d-flex flex-wrap mw-100">
                @foreach (var keyword in Project.Keywords)
                {
                    <div class="m-1">
                        <span class="badge rounded-pill text-bg-light text-black">@keyword</span>
                    </div>
                }
            </div>
        }
        <br>
        @((MarkupString)Project.Description)
    </div>
</div>

@code {

    private RenderFragment GetContentToDisplay((MediaContentType?, string?) content)
    {
        if (content.Item1 == null || content.Item2 == null)
            return @<></>;

        switch (content.Item1)
        {
            case MediaContentType.Image:
                return @<img class="media-content" src=@content.Item2 />;
            case MediaContentType.Video:
                return
                @<video class="media-content" controls @ref=_videoPlayer>
    <source src="@content.Item2" type="video/mp4">
</video>;
            case MediaContentType.ShortVideo:
                return@<video id="short-video" class="media-content" src=@content.Item2 autoplay muted loop playsinline @ref=_shortVideoPlayer />;
            case MediaContentType.WebVideo:
                return@<iframe class="media-content" src=@content.Item2 loading="lazy" allowfullscreen="" @ref=_iFramePlayer />;
            default:
                return@<></>;
        }
    }

    private RenderFragment GetThumbnail(string path)
    {
        if (path.Contains("*THMB*"))
        {
            var thumbnailSrc = path.Split("*THMB*");
            if (thumbnailSrc.Length > 1)
                return@< img src = "@(path[1])" />;
        }
        return null;
    }
}
